h1 .glyphicon {
  font-size:12pt;
}

.panel-comment .panel-heading {
  padding: .5em 1em;
  font-size: 10pt;
}

.panel-comment .panel-heading .glyphicon {
  font-size: 8pt;
  margin-right:-.5em;
  margin-left:.5em
}

.panel-comment .panel-body {
  padding-bottom: .5em;
}

