h1 .glyphicon {
  font-size:12pt;
}

.panel-comment .panel-heading {
  padding: .5em 1em;
  font-size: 10pt;
}

.panel-comment .panel-heading .glyphicon {
  font-size: 8pt;
  margin-right:-.5em;
  margin-left:.5em
}

.panel-comment .panel-body {
  padding-bottom: .5em;
}

code {
  color: #333;
  background-color: #f8f8f8;
}

.dit-commit {
  margin-bottom:20px;  
  padding-left: 20px;  
}

.dit-commit li {
  list-style-type: none;  
}

.dit-commit .pull-right {
  font-size:13px;
  padding-top:2px;
}

.panel-heading .dropdown-menu {
  min-width:0px;
}

.panel-heading .dropdown-menu .glyphicon {
  margin:0px;
}

.panel-heading .dropdown-menu a {
  padding: 1px 10px;
}

.panel-heading .dropdown-menu li.presentation {
  font-size:13px;
}

