<!doctype html>
<html ng-app='ditApp'>
  <head>
    <script src="/static/angular.min.js"></script>
    <script src="/static/controllers.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/dit.css" rel="stylesheet">
    <script src="/static/diff_match_patch.js"></script>
  </head>
  <body ng-controller="BaseCtrl">
  
    <div class='container'>
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/issue/new">New Issue</a></li>
        </ul>
        <h3 class="text-muted">{{repo.project}}</h3>
    </div>
    
  ##__content__##

      <div class="footer" style='clear:both;'>
        <p>
          <span class='pull-right'>
            {{repo.project_dir}}<br>
            {{repo.origin}}
          </span>
          <a href='github.com/keredson/distributed-issue-tracker'>Distributed Issue Tracker</a> v{{repo.dit_version}}<br>
          Branch: <b>{{repo.branch}}</b> ({{ repo.is_dirty ? 'dirty' : 'clean' }})
        </p>
      </div>
</div>


  </body>
  <script>
var ditApp = angular.module('ditApp');
ditApp.controller('BaseCtrl', function ($scope, $http) {
  $http.get('/json/repo').success(function(data) {
    $scope.repo = data;
  });
});//*/
  </script>
</html>

