
<div ng-controller="IssueCtrl"> 

  <ol class="breadcrumb">
    <li><a href="/">home</a></li>
    <li><a href='/issues'>issues</a></li>
    <li class="active">{{issue.id}}</li>
  </ol>

  <h1 ng-hide="editorEnabled">
    {{issue.title}}
    <a href="#" ng-click="editorEnabled=!editorEnabled" class='glyphicon glyphicon-pencil'></a>
  </h1>
  <h1 ng-show="editorEnabled">
    <form name="titleform" class='form-inline' ng-submit="saveTitle()">
      <input type="text" class='form-control' ng-model="issue.title" ng-model-options="{ updateOn: 'submit' }" name="title" size=30 placeholder="Title...">
      <button type="submit" class='btn btn-primary' ng-click="titleform.title.$commitViewValue(); editorEnabled=!editorEnabled">Save</button>
      <button type="button" class='btn btn-default' ng-click="titleform.title.$rollbackViewValue(); editorEnabled=!editorEnabled">Cancel</button>
    </form>
  </h1>
  
  <p class='pull-right text-muted' style='margin-top:-.9em;'>{{issue._committed_on_human}}</p>
  <p class='text-muted' style='margin-top:-.9em;' ng-show='issue._authors.length'>
    By: <span ng-repeat="author in issue._authors">{{author}}{{$last ? '' : ','}}</span>
  </p>

  <div ng-repeat="comment in issue._comments | orderBy: '_committed_on'">
    <div class="panel panel-default panel-comment" ng-hide="{{comment.type=='commit'}}">
      <div class="panel-heading">
        <span class='pull-right text-muted'>
          {{comment._committed_on_human ? comment._committed_on_human : '(uncommitted)'}}
          <a href="#" ng-click="comment._editing=!comment._editing" class='glyphicon glyphicon-pencil'></a>
        </span>
        <span ng-repeat="author in comment._authors">{{author}}{{$last ? '' : ','}}</span>
        <span ng-hide="comment._authors.length">You</span>
      </div>
      <div class="panel-body" ng-bind-html='comment._text' ng-hide='comment._editing'></div>
      <div class="panel-body" ng-show='comment._editing'>
        <form ng-submit="saveComment(comment)">
          <p>
            <textarea class='form-control' ng-model='comment.text' placeholder='Add a comment...'></textarea>
          </p>
          <p class='pull-right'>
            <button type="submit" class='btn btn-primary'>Save</button>
            <button class='btn btn-default' ng-click='comment._editing=false'>Cancel</button>
          </p>
        </form>
      </div>
    </div>
    <div ng-show="{{comment.type=='commit'}}" class="panel panel-default panel-comment">
      <div class="panel-heading">
        <span class='pull-right text-muted'>{{comment._committed_on_human}}</span>
        Commit: {{comment.hexsha}}
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="(fn, details) in comment.files">
            {{fn}} - changes: {{details.lines}} (<span style='color:red'>{{details.deletions}}</span>/<span style='color:green'>{{details.insertions}}</span>)
          </li>
        </ul>
      </div>
    </div>
  </div>

    
  <form name="commentform" ng-submit="addComment()">
    <p>
      <textarea class='form-control' ng-model='newcomment.text' placeholder='Add a comment...'></textarea>
    </p>
    <p class='pull-right'>
      <button type="submit" class='btn btn-primary'>Comment</button>
    </p>
  </form>
    
    
</div>
  
<script>
var app = angular.module('ditApp');
app.controller('IssueCtrl', function($scope, $http, $sce) {
  $scope.issue = ##issue##;
  if (!$scope.issue.title) $scope.editorEnabled = true;
  if ($scope.issue._committed_on) {
    $scope.issue._committed_on_human = new Date($scope.issue._committed_on * 1000).toLocaleString();
  }
  $scope.newcomment = {
    'issue_id': $scope.issue.id,
  };
  angular.forEach($scope.issue._comments, function(comment) {
    comment._text = $sce.trustAsHtml(comment._text);
    if (comment._committed_on) {
      comment._committed_on_human = new Date(comment._committed_on * 1000).toLocaleString();
    }
  });
  
  $scope.saveTitle = function() {
    $http.post('/issue/save', $scope.issue).success(function(data) {});
  };
  $scope.addComment = function() {
    $http.post('/comment/save', $scope.newcomment).success(function(data) {
      data._text = $sce.trustAsHtml(data._text);
      $scope.issue._comments.push(data)
      $scope.newcomment.text = ''
    });
  };
  $scope.saveComment = function(comment) {
    $http.post('/comment/save', comment).success(function(data) {
      comment._text = $sce.trustAsHtml(data._text)
      comment.text = data.text
      comment._editing = false
    });
  };
});
</script>

