
<div ng-controller="IssueCtrl"> 

  <ol class="breadcrumb">
    <li><a href="/">home</a></li>
    <li><a href='/issues'>issues</a></li>
    <li class="active">{{issue.id}}</li>
  </ol>

  <p class='pull-right'>
    <span class='label label-success' ng-hide='issue.state=="closed"'>Open</span>
    <span class='label label-danger' ng-show='issue.state=="closed"'>Closed</span>
  </p>
  
  <h1 ng-hide="editorEnabled">
    <span>{{issue.title}}</span>
      <a href="#" class='glyphicon glyphicon-pencil' ng-click="editorEnabled=!editorEnabled" title='Edit'></a>
      <a ng-show='issue._dirty' href="#" ng-click="revert(issue)" title='Revert' class='glyphicon glyphicon-floppy-remove'></a>
  </h1>

  <h1 ng-show="editorEnabled">
    <form name="titleform" class='form-inline' ng-submit="saveTitle()">
      <input type="text" class='form-control' ng-model="issue.title" ng-model-options="{ updateOn: 'submit' }" name="title" size=30 placeholder="Title...">
      <button type="submit" class='btn btn-primary' ng-click="titleform.title.$commitViewValue(); editorEnabled=!editorEnabled">Save</button>
      <button type="button" class='btn btn-default' ng-click="titleform.title.$rollbackViewValue(); editorEnabled=!editorEnabled">Cancel</button>
    </form>
  </h1>
  
  <p class='pull-right text-muted' style='margin-top:-.9em;'>{{issue._committed_on_human}}</p>
  <p class='text-muted' style='margin-top:-.9em;' ng-show='issue._authors.length'>
    By: <span ng-repeat="author in issue._authors">{{author}}{{$last ? '' : ','}}</span>
  </p>

  <div ng-repeat="comment in issue._comments | orderBy: '_committed_on'">
    <div class="panel panel-default panel-comment" ng-hide="{{comment.type=='commit'}}">
      <div class="panel-heading">
        <div class="dropdown pull-right">
          <a href="#" class='glyphicon glyphicon-pencil' ng-click="comment._editing=!comment._editing" title='Edit'></a>
          <a href="#" class='glyphicon glyphicon-floppy-remove' ng-click="revert(comment)" title='Revert' ng-show="comment._dirty"></a>
        </div>
        <span class='pull-right text-muted'>
          {{comment._committed_on_human ? comment._committed_on_human : '(uncommitted)'}}
        </span>
        <span ng-repeat="author in comment._authors">{{author}}{{$last ? '' : ','}}</span>
        <span ng-hide="comment._authors.length">You</span>
      </div>
      <div class="panel-body" ng-bind-html='comment._text' ng-hide='comment._editing'></div>
      <div class="panel-body" ng-show='comment._editing'>
        <form ng-submit="saveComment(comment)">
          <p>
            <textarea class='form-control' ng-model='comment.text' placeholder='Add a comment...'></textarea>
          </p>
          <p class='pull-right'>
            <button type="submit" class='btn btn-primary'>Save</button>
            <button class='btn btn-default' ng-click='comment._editing=false'>Cancel</button>
          </p>
        </form>
      </div>
    </div>
    <ul ng-show="{{comment.type=='commit'}}" class='dit-commit'>
      <li>
        <span class='pull-right text-muted'>
          {{comment._committed_on_human}}
        </span>
        <a href='/commit/{{comment.hexsha}}'><code>{{comment.message}}</code></a><br>
        <span ng-repeat="(fn, details) in comment.files" style='font-size:8pt; padding-left:4px;'>
          {{fn}}
          (<span style='color:red'>{{details.deletions}}</span>/<span style='color:green'
          >{{details.insertions}}</span>)<span ng-hide="$last">,</span>
        </span>

      </li>
    </ul>
  </div>

    
  <form name="commentform" ng-submit="addComment()">
    <p>
      <textarea class='form-control' ng-model='newcomment.text' placeholder='Add a comment...' 
                rows='{{newcomment._rows}}' ng-change='newcomment._rows=countLines(newcomment.text)+2'></textarea>
    </p>
    <p class='pull-right'>
      <button ng-click='changeState("closed")' class='btn btn-default' ng-hide='issue.state=="closed"'>Close Issue</button>
      <button ng-click='changeState("open")' class='btn btn-default' ng-show='issue.state=="closed"'>Reopen Issue</button>
      <button type="submit" class='btn btn-primary' ng-disabled='!newcomment.text || newcomment.text.length==0'>Comment</button>
    </p>
  </form>
    
    
</div>
  
<script>
var app = angular.module('ditApp');
app.controller('IssueCtrl', function($scope, $http, $sce) {
  $scope.issue = ##issue##;
  if (!$scope.issue.title) $scope.editorEnabled = true;
  if ($scope.issue._committed_on) {
    $scope.issue._committed_on_human = new Date($scope.issue._committed_on * 1000).toLocaleString();
  }
  $scope.newcomment = {
    'issue_id': $scope.issue.id,
  };
  angular.forEach($scope.issue._comments, function(comment) {
    comment._text = $sce.trustAsHtml(comment._text);
    if (comment._committed_on) {
      comment._committed_on_human = new Date(comment._committed_on * 1000).toLocaleString();
    }
  });
  
  $scope.saveTitle = function() {
    $http.post('/issue/save', $scope.issue).success(function(data) {
      $scope.issue._dirty = data._dirty
    });
  };

  $scope.countLines = function(text) {
    return (text.match(/\n/g)||[]).length
  };
  
  $scope.changeState = function(state) {
    $http.post('/issue/'+$scope.issue.id+'/change-state/'+state).success(function(data) {
      $scope.issue.state = data.state;
      $scope.issue._dirty = data._dirty;
    });
  }
  $scope.addComment = function() {
    if (!$scope.newcomment.text) return;
    $http.post('/comment/save', $scope.newcomment).success(function(data) {
      data._text = $sce.trustAsHtml(data._text);
      $scope.issue._comments.push(data)
      $scope.newcomment.text = ''
      $scope.newcomment._rows=''
    });
  };
  $scope.saveComment = function(comment) {
    $http.post('/comment/save', comment).success(function(data) {
      comment._text = $sce.trustAsHtml(data._text)
      comment.text = data.text
      comment._editing = false
      comment._dirty = data._dirty
    });
  };
  $scope.revert = function(o) {
    $http.post('/repo/revert', o).success(function(data) {
      if (data['_delete']) {
        $scope.issue._comments.splice($scope.issue._comments.indexOf(o),1);
      }
      else if (o.type=='comment') {
        o._text = $sce.trustAsHtml(data._text)
        o.text = data.text
      }
      else if (o.type=='issue') {
        o.title = data.title
        o.state = data.state
      }
      o._editing = false
      o._dirty = data._dirty
    });
  };
});
</script>

