
<div ng-controller="IssuesCtrl"> 
    <table class='table'>
      <tr ng-repeat="issue in issues">
        <td>
          <a href='/issue/{{issue.id}}'>{{issue.title}}</a>
        </td>
        <td align='right' class='text-muted'>
          <span class='glyphicon glyphicon-comment'></span>
          {{issue._comments.length}}
        </td>
      </tr>
    </table>
    <p></p>
</div>
  
<script>
ditApp.controller('IssuesCtrl', function ($scope, $http) {
  $http.get('/json/issues').success(function(data) {
    $scope.issues = data.issues;
  });
});
</script>
