
<div ng-controller="IssuesCtrl"> 
  
  <p>
    <form ng-submit="search()">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Filter <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu"
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control" placeholder='Search...' ng-model='q'>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span><!-- /btn-group -->
        </div><!-- /input-group -->
    </form>
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">{{issues.length}} issue{{issues.length==1 ? '' : 's'}}</div>
    <table class='table'>
      <tr ng-repeat="issue in issues">
        <td>
          <a href='/issue/{{issue.id}}'>{{issue.title}}</a>
        </td>
        <td align='right' class='text-muted'>
          {{issue._committed_on ? issue._committed_on_human : '(new)'}}
        </td>
        <td align='right' class='text-muted'>
          <span class='glyphicon glyphicon-comment'></span>
          {{issue._comments.length}}
        </td>
      </tr>
    </table>
  </div>
  
  
</div>
  
<script>
ditApp.controller('IssuesCtrl', function ($scope, $http) {
  $scope.search = function() {
    window.location.href = '/issues?q='+$scope.q;
  }
  $scope.q = getParameterByName('q');
  $http.get('/json/issues?q='+$scope.q).success(function(data) {
    $scope.issues = data.issues;
    angular.forEach($scope.issues, function(issue) {
      if (issue._committed_on) {
        issue._committed_on_human = new Date(issue._committed_on * 1000).toLocaleString();
      }
    });
  });
});
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>

