
<div ng-controller="IssueCtrl"> 

  <ol class="breadcrumb">
    <li><a href="/">home</a></li>
    <li><a href='/issues'>issues</a></li>
    <li class="active">new</li>
  </ol>

  <form name="titleform" ng-submit="saveTitle()">

    <h1>
      <input type="text" class='form-control' ng-model="issue.title" ng-model-options="{ updateOn: 'submit' }" name="title" size=30 placeholder="Issue title...">
    </h1>

    <p>
      <textarea class='form-control' ng-model='newcomment.text' placeholder='Add a comment...'></textarea>
    </p>
    <p class='pull-right'>
      <button type="submit" class='btn btn-primary' ng-click="titleform.title.$commitViewValue(); editorEnabled=!editorEnabled">Save</button>
      <button type="button" class='btn btn-default' ng-click="titleform.title.$rollbackViewValue(); editorEnabled=!editorEnabled">Cancel</button>
    </p>

  </form>
    
    
</div>
  
<script>
var app = angular.module('ditApp');
app.controller('IssueCtrl', function($scope, $http, $sce) {
  $scope.issue = {};
  $scope.newcomment = {
    'issue_id': '',
    'text': '',
  };
  $scope.saveTitle = function() {
    $http.post('/issue/save', $scope.issue).success(function(data) {
      $scope.issue = data
      if ($scope.newcomment.text) {
        $scope.newcomment.issue_id = data.id
        $http.post('/comment/save', $scope.newcomment).success(function(data) {
          window.location.href = '/issue/'+$scope.issue.id
        });
      } else {
        window.location.href = '/issue/'+$scope.issue.id
      }
    });
  };
});
</script>

