<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}} - DIT</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.brown-orange.min.css" /> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx" src="/jsx/common.jsx"></script>
    <script type="text/jsx" src="/jsx/{{react}}.jsx"></script>
  </body>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
</html>

