<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}} - DIT</title>
    <script src="/static/material.min.js"></script>
    <script src="/static/react.js"></script>
    <script src="/static/JSXTransformer.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery.textcomplete.js"></script>
    <link rel="stylesheet" href="/static/material.brown-orange.min.css" /> 
    <link rel="stylesheet" href="/static/material-icons.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/jquery.textcomplete.css">
    <script src="/static/marked.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx" src="/jsx/common.jsx"></script>
    <script type="text/jsx" src="/jsx/{{react}}.jsx"></script>
  </body>
</html>

